.Rproj.user
.Rhistory
.RData
.Ruserdata

# vcf files
/data/raw_data/septoria_ale_clean.vcf.gz
/data/raw_data/UPM2022Cristina_01-03.CSv2.vcf

# all raw data
/data/raw_data
/data/modified_data/septoria_ale_clean_ann.vcf.gz
/outputs/GWAS_wheat

# ignore fasta files
/outputs/postGWAS_sep/FASTA_sep/*
/outputs/postGWAS_sep/FASTA_all/*
/outputs/GWAS_sep/*
/outputs/pca_accuracy


/outputs/paper/*